@keyframes pulse-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* https://766.js.org/ */
@keyframes joggle {
  0%, 
  50%, 
  100% {
    // transform:translateX(0);
    left: 0;
  }
  25%,
  75% {
    // transform:translateX(3px);
    // left: 4px;
    left: 3px;
  }
}