@keyframes pulse-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* https://766.js.org/ */
@keyframes joggle {
  0% {
    left: 0;
  }

  25% {
    left: 3px;
  }

  50% {
    left: 0;
  }

  75% {
    left: 3px;
  }

  100% {
    left: 0;
  }
}
