$extra-small-end: 479px;
$medium-start: 768px;
$big-start: 1200px;

@mixin extra-small() {
  @media screen and (max-width: $extra-small-end) {
    @content;
  }
}

@mixin small() {
  @media screen and (max-width: $medium-start - 1px) {
    @content;
  }
}

@mixin medium() {
  @media screen and (min-width: $medium-start) {
    @content;
  }
}

@mixin big() {
  @media screen and (min-width: $big-start) {
    @content;
  }
}