.diver-section {
  margin: 2.5rem 0;

  @include medium() {
    margin: 3rem 0;
    max-width: 60%;
  }

  .wrapper {
    @include small() {
      padding: 0;
    }
  }
}

.animation-container-wrapper {
  padding-top: 557 / 960 * 100%;
  position: relative;
  filter: blur(1.5px);
  overflow: hidden;
}

.animation-container {
  background-image: url('/src/media/images/diver-section/diver__subway-station-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::before {

    background-image: url('/src/media/images/diver-section/diver__metro-station-column-left.png');
    left: 0;
    width: 123 / 960 * 100%;
  }

  &::after {
    background-image: url('/src/media/images/diver-section/diver__metro-station-column-right.png');
    right: 0;
    width: 123 / 960 * 100%;
  }

  .diver {
    --size: 33%;
    background-image: url('/src/media/images/diver-section/diver.png');
    background-size: cover;
    background-position: center;
    width: var(--size);
    padding-top: var(--size);
    position: relative;
    left: -0.25rem;
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    
    &.visible {
      opacity: 1;
      visibility: visible;
    }

    &.transition-styles-applied {
      transition: transform 0.5s;
    }
  }
}
