.diver-section {
  margin: 2.5rem 0;

  @include medium() {
    margin: 3rem 0;
    max-width: 60%;
  }

  .wrapper {
    @include small() {
      padding: 0;
    }
  }
}

.animation-container-wrapper {

  padding-top: 557 / 960 * 100%;
  position: relative;
}

.animation-container {
  --hue-rotate-degrees: 0deg;
  --opposite-hue-rotate-degrees: 0deg;

  filter: hue-rotate(var(--hue-rotate-degrees)) blur(1.0px);
  background-image: url('/src/media/images/diver-section/diver__subway-station-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: filter .25s;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::before {
    background-image: url('/src/media/images/diver-section/diver__metro-station-column-left.png');
    left: 0;
    width: 123 / 960 * 100%;
  }

  &::after {
    background-image: url('/src/media/images/diver-section/diver__metro-station-column-right.png');
    right: 0;
    width: 123 / 960 * 100%;
  }

  .diver {
    --size: 33%;
    background-image: url('/src/media/images/diver-section/diver.png');
    background-size: cover;
    background-position: center;
    width: var(--size);
    padding-top: var(--size);
    position: relative;
    left: -0.25rem;
    transform: scale(1.1);
    visibility: hidden;
    filter: hue-rotate(var(--opposite-hue-rotate-degrees));
    
    &.visible {
      opacity: 1;
      visibility: visible;
    }

    &.transition-styles-applied {
      transition: transform 0.5s, filter 0.5s, opacity 0.5s;
    }

    &.semi-transparent:not(.locked) {
      opacity: .5;
    }
  }
}


// misc

// https://www.pngall.com/wow-png/
// wow images


//  .wow-sign-1 {
//    --size: 122px;
//
//    position: absolute;
//    width: var(--size);
//    height: var(--size);
//    background-size: contain;
//    left: 14%;
//    top: 12%;
//    transition: opacity .5s;
//    z-index: 2;
//    filter: hue-rotate(94deg);
//    //opacity: 0;
//
//    &.invisible {
//      opacity: 0;
//    }
//  }
//
//  .wow-sign-2 {
//    --size: 200px;
//
//    position: absolute;
//    width: var(--size);
//    height: var(--size);
//    background-image: url('/src/media/images/diver-section/wow2.png');
//    background-size: contain;
//    background-repeat: no-repeat;
//    top: 60%;
//    right: 18%;
//    z-index: 2;
//    transition: opacity .5s, transform .5s;
//    transition: opacity .4s;//, transform .5s;
//    filter: hue-rotate(299deg);
//    transform-origin: top;
//    //transform-origin: ;
//
//    &.invisible {
//      opacity: 0;
//      //transform: scale(0);
//      //transform: scale(.25);
//      //transform: scale(.4);
//      //transform: scale(.35);
//      //transform: scale(.8);
//      //transform: scale(.3);
//    }
//
//    //&.slightly-visible {
//    //
//    //}
//  }