//body {
bodydsf {
  overflow: hidden;
  position: relative;
  margin: 0;
  height: 365vh;

  /* hide scrollbar but allow scrolling */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}

//.page {
.pagefsd {
  height: 100%;
  background: #eee;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.animation-container-wrapper {
  padding-top: 557 / 960 * 100%;
  position: relative;
  // filter: blur(2.5px);
  filter: blur(1.5px);
  overflow: hidden;
}

.animation-container {
  background-image: url("/src/media/images/diver-section/diver__subway-station-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //perspective: 450px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    //transform: translateZ(15px) scale(1.25);
  }

  &::before {
    background-image: url("/src/media/images/diver-section/diver__metro-station-column-left.png");
    left: 0;
    width: 123 / 960 * 100%;
  }

  &::after {
    background-image: url("/src/media/images/diver-section/diver__metro-station-column-right.png");
    right: 0;
    width: 123 / 960 * 100%;
  }

  .circle {
    background-image: url("/src/media/images/diver-section/diver.png");
    background-size: cover;
    background-position: center;
    width: 34%;
    padding-top: 34%;
    transition: transform 0.5s;
    position: relative;
    left: -0.25rem;
    //transform: translateZ(-28px);
    transform: scale(1.1);
    //transform: scale(1.05);
  }
}
