section.section.separator {
  display: flex;
  margin-bottom: 2rem;

  &:not(:first-of-type) {
    margin-bottom: 30px;
  }

  &:last-of-type {
    margin-bottom: 10px;
  }

  img {
    width: auto;
    height: auto;
    background-color: transparent;
  }
}