.videos-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 2rem + 1.25rem;;

    .row.journal {
      @include medium() {
        max-width: 100%;
      }
    }

  .article.article--video {
    @include medium() {
      margin-bottom: 0;
      flex-basis: calc(50% - 1.25rem / 2);;
    }

    &:nth-of-type(2n) {
      position: relative;
      top: 2rem;
    }

    .wrapper {
      @include medium() {
        padding: 0;
      }
    }

  }
}

article.article--video .wrapper {
  position: relative;
}

.js-youtube-player-wrapper {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin-bottom: 1.25rem;
  background-color: #eee;

  @include medium() {
    margin-bottom: 0;
  }

  &.bg-transparent {
    background-color: transparent;
  }

  .youtube-placeholder-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;

    &.placeholder-image-loaded {
      .youtube-placeholder-image {
        opacity: 1;
      }

      .youtube-red-button {
        opacity: 1;
      }
    }

    &.hidden {
      transition: opacity .25s cubic-bezier(0, 0, 0.2, 1), visibility .25s;
      opacity: 0;
      visibility: hidden;
    }

    .youtube-placeholder-image {
      transition: opacity .25s cubic-bezier(0, 0, 0.2, 1);
      opacity: 0;
    }

    .youtube-red-button {
      cursor: pointer;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 68px;
      height: 48px;
      margin-left: -34px;
      margin-top: -24px;
      transition: opacity .25s cubic-bezier(0, 0, 0.2, 1);
      transition-delay: .125s;
      //transition-delay: .25s;
      background: transparent;
      padding: 0;
      border: none;
      opacity: 0;
    }
  }
}

.js-player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  //opacity: 0;
}


