{{!-- components/diver-onscroll-animation --}}

<div class="diver-section js-diver-section">
  <div class="wrapper">
    <div class="content">
      <div class="animation-container-wrapper">
<!--          <div class="wow-sign-1 invisible">-->
<!--          </div>-->
<!--          <div class="wow-sign-2">-->
<!--          </div>-->
<<<<<<< Updated upstream
<!--          <div class="wow-sign-2 invisible">-->
<!--          </div>-->
        <div class="animation-container js-animation-container">
<!--          <div class="wow-sign-1 invisible">-->
<!--          </div>-->
<!--          <div class="wow-sign-2 invisible">-->
<!--          </div>-->
<!--          <div class="wow-sign-3">-->
<!--          </div>-->
=======
        <div class="animation-container js-animation-container">
<!--          <div class="wow-sign-1 invisible">-->
<!--          </div>-->
          <div class="wow-sign-2 invisible">
          </div>
          <div class="wow-sign-3">
          </div>
>>>>>>> Stashed changes
          <div class="diver js-diver">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>