{{#> layouts/base }}
  {{#*inline "content"}}

    <header class="header">
      <div class="wrapper">
        <h1 class="header-title">
        <span>
          13 Freaks
        </span>
        </h1>
      </div>
    </header>

    <main class="main layouts">

      <section class="section">
        <div class="wrapper">
          <div class="row header">
            <h2>
            <span>
              Дневник 01.04.2022
            </span>
            </h2>
          </div>
          <div class="row journal">
            Что-то такое есть. Непонятное. Что-то есть. Можно жить интересно. Делать что-то. <br>
            Просто получается, что я пытаюсь объяснить это самому себе, а в итоге просто пристаю к людям, которые,
            вероятно, такими идеями не озадачены. <br>
            Вот и получается, что я как бы хочу переделать людей, но на самом деле, я хочу понять это сам. <br>
            Видимо, не все хотят... Сложно сказать чего именно "видимо, не все хотят". Жизни? Разнообразия? <br>
            Я почему-то думаю, что людям тоже хотелось бы избавиться от некоторых ограничений, но, похоже,
            для некоторых из них эти вещи ограничениями не являются.
          </div>
        </div>
      </section>

      {{> includes/separator }}

      <section class="section">
        <div class="row journal">
          <div class="wrapper">
            <div class="js-youtube-player-wrapper">
              <div class="js-player" data-video-id="H_uMedU4M64"></div>
            </div>
          </div>
        </div>
      </section>

      {{> includes/separator }}

      <section class="section">
        <div class="row journal">
          <div class="wrapper">
            <div class="js-youtube-player-wrapper">
              <div class="js-player" data-video-id="UzL5fYyptdI"></div>
            </div>
          </div>
        </div>
      </section>

      {{> includes/separator }}

      <section class="section">
        <div class="wrapper">
          <div class="row header">
            <h2>
            <span>
              Дневник 19.03.2022
            </span>
            </h2>
          </div>
          <div class="row journal">
            Есть какое-то странное, новое, непонятное для меня ощущение. Я не знаю, расту как специалист, и,
            мне кажется, передо мной открываются новые горизонты.
            Вернее, как будто я нахожусь сейчас на пороге какого-то открытия.
            Как будто может произойти какое-то утверждение в жизни. Ощущение того,
            что я обладаю достаточными знаниями для чего-то.
            Еще не знаю для чего конкретно. Вполне вероятно, что для путешествий, для какой-то более интересной и
            разнообразной жизни.
          </div>
        </div>
      </section>

      {{> includes/separator }}

      <section class="section inst-photo">
        <div class="row journal">
          <div class="image-wrapper wrapper">
            <img class="lozad" width="600" height="400" data-src="media/images/arv.ean-photo1.jpeg"
                 alt="@arv.ean photo">
          </div>
          <div class="row header">
            <div class="wrapper">
              <h2>
                <span>
                  <a href="https://www.instagram.com/arv.ean/" class="instagram-link">@arv.ean</a>
                </span>
              </h2>
            </div>
          </div>
        </div>
      </section>

      <section class="section fire-and-coyotes ripped-bg">
        <div class="wrapper">
          <div class="row header">
            <h2>
            <span>
              Пожар в лесу и койоты
            </span>
            </h2>
          </div>
          <div class="row journal">
            <div class="audio-card">
              <div class="image-wrapper">
                <img class="lozad" width="499" height="212" data-src="media/images/fire-in-the-wood.jpeg"
                     alt="fire in the wood photo">
              </div>
              <div class="plyr-player-wrapper">
                <audio class="js-plyr-player">
                  <source src="audio/fire-in-the-wood.mp3"/>
                </audio>
              </div>
            </div>
            <div class="audio-card">
              <div class="image-wrapper">
                <img class="lozad" width="544" height="306" data-src="media/images/coyoute.jpeg"
                     alt="coyoute">
              </div>
              <div class="plyr-player-wrapper">
                <audio class="js-plyr-player">
                  <source src="audio/coyote.mp3"/>
                </audio>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="wrapper">
          <div class="row header">
            <h2>
            <span>
              Дневник 18.07.2021
            </span>
            </h2>
          </div>
          <div class="row journal">
            Непонятное желание двигаться куда-то. Есть деятельность вне работы. Я хочу приносить пользу, делать мир
            лучше,
            открываться миру.
            Хочу ли я быть профессионалом разработчиком фронтенда. Или я не хочу им быть. Может быть, я уже он. Опыт
            накапливается, мои мироощущения меняются. Слушаю аудиоверсию Гиты. Начинаю понимать что атман — суть
            брахман (<strong>UPD.</strong> Может быть, это не так, и никакого брахмана просто не существует, и это
            просто такая концепция)
            Осваиваю азы гитары. Во вторник едем с Катей и Пашей на вводную лекцию по ТМ. Деньги на это есть. Возможно,
            работа
            помогает аккумулировать деньги на этом этапе моей жизни. По-любому, есть и другие способы получения денег.
          </div>
        </div>
      </section>

      {{> includes/separator }}

      <section class="section">
        <div class="wrapper">
          <div class="row header">
            <h2>
            <span>
              #1
            </span>
            </h2>
          </div>
          <div class="row default">
            <div class="image-wrapper">
              <img class="lozad" width="600" height="400" data-src="https://source.unsplash.com/random/600x400"
                   alt="random image">
            </div>
            <div class="image-wrapper">
              <img class="lozad" width="600" height="400" data-src="https://source.unsplash.com/random/600x401"
                   alt="random image">
            </div>
            <div class="image-wrapper">
              <img class="lozad" width="600" height="400" data-src="https://source.unsplash.com/random/600x402"
                   alt="random image">
            </div>
          </div>
        </div>
      </section>
    </main>


  {{/inline}}
{{/ layouts/base }}