{{#> layouts/base }}
  {{#*inline "content"}}

    <header class="header pagetop-header">
      <div class="wrapper">
        <h1 class="header-title">
          <span>
            hi
          </span>
        </h1>
      </div>
    </header>

    <article class="article">
      <div class="wrapper">
        <div class="row header">
          <h2>
            <span>
              Дневник 10.07.2023
            </span>
          </h2>
        </div>
        <div class="row journal">
          и не совсем понятно, что же именно кажется странным. Вроде: машины, дома, электричество, а всё равно — как будто что-то не то.
          Может быть, действительно, это от того, что жизнь как бы проходит впустую, — без какой-то особой помощи от меня миру, или без интереса.
          Как будто жизнь может быть жизнью. «Осмысленной», а не просто ожиданием
        </div>
      </div>
    </article>

    <div class="videos-section wrapper">

      {{> components/youtube-video
          videoTitle="History Eraser - Courtney Barnett"
          videoId="k6_G5PlEXdk"
      }}

      {{> components/youtube-video
          videoTitle="Courtney Barnett - Avant Gardener"
          videoId="bcnIhzaDTd0"
      }}

      {{> components/youtube-video
          videoTitle="Kurt Vile - One Trick Ponies"
          videoId="W7OmWKy6_8E"
      }}

    </div>

    <div class="videos-section wrapper Damon_Albarn">

      {{> components/youtube-video
          videoTitle="Gorillaz &quot;El Mañana&quot; LIVE at Rock Am Ring 2018"
          videoId="k6cWkFSVCp4"
      }}

    </div>

    {{!--
    <article class="article inst-photo inst-photo--vertical waldo">
      <div class="row journal">
        <div class="image-wrapper wrapper">
          <div>

            {{> components/image-lazyloading
                src="media/images/Wally.jpg"
                width="474"
                height="927"
                alt="Wally (also known as Waldo)"
                emptyPlaceholder="true"
            }}

          </div>
        </div>
      </div>
    </article> --}}

    <article class="article">
      <div class="wrapper">
        <div class="row header">
          <h2>
            <span>
              Дневник 16.03.2023
            </span>
          </h2>
        </div>
        <div class="row journal">
          Нужно ли вообще задаваться вопросами «кто я?», «зачем я?», «что такое — я?»?
          <br>
          Думаю, что несомненно стоит. (стоит также и почитать учебник по русскому языку. однако, некоторые дефекты простым чтением учебника не исправить) <br>
          Похоже, что эти вопросы могут привести к ответам.
          А ответы эти — помочь. Весьма вероятно, некоторые действия можно и не совершать.
          Это избавило бы от некоторых нежелательных последствий.
        </div>
      </div>
    </article>

    <div class="videos-section wrapper">

      {{> components/youtube-video
          videoTitle="The Chemical Brothers - The Test (Official Music Video)"
          videoId="yhS9LnDoo_w"
      }}

      {{> components/youtube-video
          videoTitle="Modest Mouse - Missed the Boat (Official Music Video)"
          videoId="JP_jaogKAdM"
      }}

    </div>

    <article class="article">
      <div class="wrapper">
        <div class="row header">
          <h2>
            <span>
              Дневник 07.11.2022
            </span>
          </h2>
        </div>
        <div class="row journal">
          Чтобы в моей жизни случалось больше хорошего и интересного, мне надо делать больше хороших дел,
          больше помогать. <br>
          Я не уверен в том, что понимаю какие именно это дела, но общий принцип, думаю, понятен. Можно делиться и/или
          перераспределять вещи. Например, мне известно, что кое-кому хотелось бы получить плеер с дисками Высоцкого,
          книгу с его стихами и увеличительную полоску, кое-кому хотелось бы получить сим-карту и карточку памяти с
          usb адаптером, а кое-кому, возможно, пригодились бы комиксы. Помогая этим людям получить желаемое, я тоже
          автоматически буду получать то, что нужно мне, пусть я даже и сам не до конца понимаю, что же именно мне
          нужно.
        </div>
      </div>
    </article>

    {{> components/diver-onscroll-animation }}

    <div class="videos-section wrapper">

      {{> components/youtube-video
          videoTitle="Neil Young Carter-Style Rhythm Guitar Workout"
          videoId="QqkrI6CEdmI"
      }}

      {{> components/youtube-video
          videoTitle="Аквариум - Двигаться дальше"
          videoId="bKNn7fP_shE"
      }}

      {{> components/youtube-video
          videoTitle="Сергей Курёхин Музыкальный ринг 1987 - 2 часть"
          videoId="bMszaJB6MqI"
      }}

      {{> components/youtube-video
          videoTitle="Здесь есть живые"
          videoId="tuaICiyHhVk"
      }}

    </div>

    <article class="article inst-photo inst-photo--vertical">
      <div class="row journal">
        <div class="image-wrapper wrapper">
          <div>

            {{> components/image-lazyloading
                src="media/images/panelki-instagram-photo.jpg"
                width="1080"
                height="1350"
                alt="@russian__streets instagram photo"
            }}

          </div>
        </div>
        <div class="row header">
          <div class="wrapper">
            <h2>
                <span>
                  <a href="https://www.instagram.com/p/CbpSXsls0Tl/" class="instagram-link">@russian__streets</a>
                </span>
            </h2>
          </div>
        </div>
      </div>
    </article>

    <div class="videos-section wrapper">

      {{> components/youtube-video
          videoTitle="Kurt Vile - Like Exploding Stones"
          videoId="Oz52D43VRSE"
      }}

      {{> components/youtube-video
          videoTitle="Mujuice - Zodiac (Official Music Video)"
          videoId="kH_w5ks9GB4"
      }}

      {{> components/youtube-video
          videoTitle="Where to Start With Music Theory, Episode 14: Groove Is Our Responsibility"
          videoId="LjUIn7kCYu8"
      }}

      {{> components/youtube-video
          videoTitle="Скрипят Телеги"
          videoId="mNaqhx616Do"
      }}

      {{> components/youtube-video
          videoTitle="4 Позиции Бруно - Пятый Месяц, Четвёртый День...(cover)"
          videoId="DFv-q7E0wrE"
      }}

      {{> components/youtube-video
          videoTitle="Предпоследний Романс"
          videoId="hn1LS7-n9as"
      }}

      {{> components/youtube-video
          videoTitle="Lead Strategies: Minor/Major Pentatonic Crossover Licks"
          videoId="fmyelxWopTU"
      }}

      {{> components/youtube-video
          videoTitle="Cool Sleeper Guitars! Epiphone Firebird VII (Early 2000s MIK)"
          videoId="2NEr9NZDrd8"
      }}

    </div>

    <article class="article">
      <div class="wrapper">
        <div class="row header">
          <h2>
            <span>
              Дневник 01.04.2022
            </span>
          </h2>
        </div>
        <div class="row journal">
          Что-то такое есть. Непонятное. Что-то есть. Можно жить интересно. Делать что-то. <br>
          Просто получается, что я пытаюсь объяснить это самому себе, а в итоге просто пристаю к людям, которые,
          вероятно, такими идеями не озадачены. <br>
          Вот и получается, что я как бы хочу переделать людей, но на самом деле, я хочу понять это сам. <br>
          Видимо, не все хотят... Сложно сказать чего именно "видимо, не все хотят". Жизни? Разнообразия? <br>
          Я почему-то думаю, что людям тоже хотелось бы избавиться от некоторых ограничений, но, похоже,
          для некоторых из них эти вещи ограничениями не являются.
        </div>
      </div>
    </article>

    <div class="videos-section wrapper">

      {{> components/youtube-video
          videoTitle="Аквариум - Капитан Воронин"
          videoId="H_uMedU4M64"
      }}

      {{> components/youtube-video
          videoTitle="Gimme Shelter - The Rolling Stones - By Jamie Harrison (Lesson in Description)"
          videoId="UzL5fYyptdI"
      }}

    </div>

    <article class="article">
      <div class="wrapper">
        <div class="row header">
          <h2>
            <span>
              Дневник 19.03.2022
            </span>
          </h2>
        </div>
        <div class="row journal">
          Есть какое-то странное, новое, непонятное для меня ощущение. Я не знаю, расту как специалист, и,
          мне кажется, передо мной открываются новые горизонты.
          Вернее, как будто я нахожусь сейчас на пороге какого-то открытия.
          Как будто может произойти какое-то утверждение в жизни. Ощущение того,
          что я обладаю достаточными знаниями для чего-то.
          Еще не знаю для чего конкретно. Вполне вероятно, что для путешествий, для какой-то более интересной и
          разнообразной жизни.
        </div>
      </div>
    </article>

    <article class="article inst-photo">
      <div class="row journal">
        <div class="image-wrapper wrapper">
          <div>

            {{> components/image-lazyloading
                src="media/images/arv.ean-photo1.jpeg"
                width="600"
                height="400"
                alt="@arv.ean instagram photo"
            }}

          </div>
        </div>
        <div class="row header">
          <div class="wrapper">
            <h2>
                <span>
                  <a href="https://www.instagram.com/arv.ean/" class="instagram-link">@arv.ean</a>
                </span>
            </h2>
          </div>
        </div>
      </div>
    </article>

    <article class="article fire-and-coyotes ripped-bg">
      <div class="wrapper">
        <div class="row header">
          <h2>
            <span>
              Пожар в лесу и койоты
            </span>
          </h2>
        </div>
        <div class="row journal">
          <div class="audio-card">
            <div class="image-wrapper">
              <div>

                {{> components/image-lazyloading
                    src="media/images/fire-in-the-wood.jpeg"
                    width="499"
                    height="212"
                    alt="fire in the wood photo"
                }}

              </div>
            </div>
            <div class="plyr-player-wrapper">
              <audio class="js-plyr-player">
                <source src="audio/fire-in-the-wood.mp3"/>
              </audio>
            </div>
          </div>
          <div class="audio-card">
            <div class="image-wrapper">
              <div>

                {{> components/image-lazyloading
                    src="media/images/coyoute.jpeg"
                    width="544"
                    height="306"
                    alt="coyoutes"
                }}

              </div>
            </div>
            <div class="plyr-player-wrapper">
              <audio class="js-plyr-player">
                <source src="audio/coyote.mp3"/>
              </audio>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="article">
      <div class="wrapper">
        <div class="row header">
          <h2>
            <span>
              Дневник 18.07.2021
            </span>
          </h2>
        </div>
        <div class="row journal">
          Непонятное желание двигаться куда-то. Есть деятельность вне работы. Я хочу приносить пользу, делать мир
          лучше,
          открываться миру.
          Хочу ли я быть профессионалом разработчиком фронтенда. Или я не хочу им быть. Может быть, я уже он. Опыт
          накапливается, мои мироощущения меняются. Слушаю аудиоверсию Гиты. Начинаю понимать что атман — суть
          брахман (<strong>UPD.</strong> Может быть, это не так, и никакого брахмана просто не существует, и это
          просто такая концепция)
          Осваиваю азы гитары. Во вторник едем с Катей и Пашей на вводную лекцию по ТМ. Деньги на это есть. Возможно,
          работа
          помогает аккумулировать деньги на этом этапе моей жизни. По-любому, есть и другие способы получения денег.
        </div>
      </div>
    </article>

    <article class="article">
      <div class="wrapper">
        <div class="row header">
          <h2>
            <span>
              #1
            </span>
          </h2>
        </div>
        <div class="row default">
          <div class="image-wrapper">
            <img class="lozad" width="600" height="400" data-src="https://source.unsplash.com/random/600x400"
                 alt="random image">
          </div>
          <div class="image-wrapper">
            <img class="lozad" width="600" height="400" data-src="https://source.unsplash.com/random/600x401"
                 alt="random image">
          </div>
          <div class="image-wrapper">
            <img class="lozad" width="600" height="400" data-src="https://source.unsplash.com/random/600x402"
                 alt="random image">
          </div>
        </div>
      </div>
    </article>

  {{/inline}}
{{/ layouts/base }}
