{{#> layouts/base }}
  {{#*inline "content"}}

    <header class="header">
      <div class="wrapper">

        <h1 class="header-title">
        <span>
          13 Freaks
        </span>
        </h1>
      </div>
    </header>

    <main class="main layouts">

      {{> includes/separator }}

      <section class="section inst-photo">
        <div class="row journal">
          <div class="image-wrapper wrapper">
            <img class="lozad" width="600" height="400" src="media/images/arv.ean-photo1.jpeg"
                 alt="@arv.ean photo">
          </div>
          <div class="row header">
            <div class="wrapper">
              <h2>
                <span>
                  <a href="https://www.instagram.com/arv.ean/" class="instagram-link">@arv.ean</a>
                </span>
              </h2>
            </div>
          </div>
        </div>
      </section>

      <section class="section fire-and-coyotes ripped-bg">
        <div class="wrapper">
          <div class="row header">
            <h2>
            <span>
              Пожар в лесу и койоты
            </span>
            </h2>
          </div>
          <div class="row journal">
            <div class="audio-card">
              <div class="image-wrapper">
                <img class="lozad" width="499" height="212" src="media/images/fire-in-the-wood.jpeg"
                     alt="fire in the wood photo">
              </div>
              <div class="plyr-player-wrapper">
                <audio class="js-plyr-player">
                  <source src="audio/fire-in-the-wood.mp3"/>
                </audio>
              </div>
            </div>
            <div class="audio-card">
              <div class="image-wrapper">
                <img class="lozad" width="544" height="306" src="media/images/coyoute.jpeg"
                     alt="coyoute">
              </div>
              <div class="plyr-player-wrapper">
                <audio class="js-plyr-player">
                  <source src="audio/coyote.mp3"/>
                </audio>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="wrapper">
          <div class="row header">
            <h2>
            <span>
              Дневник 18.07
            </span>
            </h2>
          </div>
          <div class="row journal">
            Непонятное желание двигаться куда-то. Есть деятельность вне работы. Я хочу приносить пользу, делать мир
            лучше,
            открываться миру.
            Хочу ли я быть профессионалом разработчиком фронтенда. Или я не хочу им быть. Может быть, я уже он. Опыт
            накапливается, мои мироощущения меняются. Слушаю аудиоверсию Гиты. Начинаю понимать что атман — суть
            брахман.
            Осваиваю азы гитары. Во вторник едем с Катей и Пашей на вводную лекцию по ТМ. Деньги на это есть. Возможно,
            работа
            помогает аккумулировать деньги на этом этапе моей жизни. По-любому, есть и другие способы получения денег.
          </div>
        </div>
      </section>

      {{> includes/separator }}

      <section class="section">
        <div class="wrapper">
          <div class="row header">
            <h2>
            <span>
              #1
            </span>
            </h2>
          </div>
          <div class="row default">
            <div class="image-wrapper">
              <img class="lozad" width="600" height="400" data-src="https://source.unsplash.com/random/600x400"
                   alt="random image">
            </div>
            <div class="image-wrapper">
              <img class="lozad" width="600" height="400" data-src="https://source.unsplash.com/random/600x401"
                   alt="random image">
            </div>
            <div class="image-wrapper">
              <img class="lozad" width="600" height="400" data-src="https://source.unsplash.com/random/600x402"
                   alt="random image">
            </div>
          </div>
        </div>
      </section>
    </main>


  {{/inline}}
{{/ layouts/base }}