{{#> layouts/base }}
  {{#*inline "content"}}

    <header class="header">
      <div class="row header-image">
        <div class="image-wrapper">
          <img width="600" height="400" src="https://source.unsplash.com/random/600x399"
               alt="random image">
        </div>
      </div>
      <h1 class="header-title">
        <span>
          13 Freaks
        </span>
      </h1>
    </header>

    <main class="main layouts">

      {{> includes/separator }}

      <section class="section">
        <div class="row header">
          <h2>
            <span>
              Дневник 18.07
            </span>
          </h2>
        </div>
        <div class="row journal">
          Непонятное желание двигаться куда-то. Есть деятельность вне работы. Я хочу приносить пользу, делать мир лучше,
          открываться миру.
          Хочу ли я быть профессионалом разработчиком фронтенда. Или я не хочу им быть. Может быть, я уже он. Опыт
          накапливается, мои мироощущения меняются. Слушаю аудиоверсию Гиты. Начинаю понимать что атман — суть брахман.
          Осваиваю азы гитары. Во вторник едем с Катей и Пашей на вводную лекцию по ТМ. Деньги на это есть. Возможно, работа
          помогает аккумулировать деньги на этом этапе моей жизни. По-любому, есть и другие способы получения денег.
        </div>
      </section>

      {{> includes/separator }}

      <section class="section">
        <div class="row header">
          <h2>
            <span>
              #1
            </span>
          </h2>
        </div>
        <div class="row default">
          <div class="image-wrapper">
            <img width="600" height="400" src="https://source.unsplash.com/random/600x400"
                 alt="random image">
          </div>
          <div class="image-wrapper">
            <img width="600" height="400" src="https://source.unsplash.com/random/600x401"
                 alt="random image">
          </div>
          <div class="image-wrapper">
            <img width="600" height="400" src="https://source.unsplash.com/random/600x402"
                 alt="random image">
          </div>
        </div>
      </section>
    </main>


  {{/inline}}
{{/ layouts/base }}