.row.default {

  @include medium() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .image-wrapper:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .image-wrapper {
    @include medium() {
      width: calc(50% - 10px);
    }

    @include big() {
      width: calc(33% - 10px)
    }
  }
}
