@import "components/navbar";
@import "components/diver-onscroll-animation";
@import "components/youtube-players";
@import "components/floating-action-button";
@import "components/plyr-player";
@import 'components/footer';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
  color: $dark-grey;
  line-height: 1.3;
  letter-spacing: .2px;
  border-top: 20px solid lighten($primary-color, 10%);

  &.overflow-hidden {
    &--xs-s-m {
      overflow: hidden;

      @include big() {
        overflow: auto;
      }
    }
  }
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  line-height: 100%;
  margin-bottom: 1.25rem;

  @include medium() {
    margin-bottom: 2rem;
  }
}

h2, h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: #eee;
  display: block;
}

strong {
  font-weight: 500;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include medium() {
    padding-top: 2rem;
  }

  @include big() {
    padding-top: 3rem;
  }

  .pagetop-header {
    position: relative;

    @include extra-small() {
      height: 250px; // maybe 300px later
      margin-bottom: 5.8rem;
      background-color: #eef;
      z-index: -1;
    }

    h1.header-title {
      margin-top: 2.25rem;
      position: relative;

      @include extra-small() {
        visibility: hidden;
      }

      @include medium () {
        margin-bottom: 2.25rem;
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;

      @include extra-small() {
        content: '';
      }
    }

    &::before {
      background-image: url('/src/media/images/cat_with_glasses.png');
      transform: scale(1.2);
      width: 200px;
      height: 200px;
      z-index: -1;
    }

    &::after {
      background-image: url('/src/media/images/mountains.png');
      width: 100%;
      bottom: 0px;
      right: 30px;
      background-repeat: no-repeat;
      top: 50%;
      left: -50%;
      transform: scale(2);
    }

    @include medium() {
      margin-top: 1rem;
    }
  }

  .content {
    @include xl-wrapper();
  }
}

.wrapper {
  padding: 0 1.25rem;

  @include medium() {
    padding: 0 2.5rem;
  }
}

.header-image {
  max-width: 500px;
}

.image-wrapper {
  border-radius: 3px;
}

.article {
  margin-bottom: 1.75rem;

  @include medium() {
    margin-bottom: 2rem;
  }

  &.article--video {
    margin-bottom: 1.5rem;

    @include medium() {
      margin-bottom: 1.75rem;
    }
  }
}

.row.default {
  @include medium() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .image-wrapper:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .image-wrapper {
    @include medium() {
      width: calc(50% - 10px);
    }

    @include big() {
      width: calc(33% - 10px)
    }
  }
}

.row.journal {
  @include medium() {
    max-width: 60%;
  }

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

.article.fire-and-coyotes {
  $ripped-bg-height-small: 75px;
  $ripped-bg-height-medium: 174px;

  background-color: $dark-grey;
  color: #eee;
  font-weight: bold;
  font-size: 1.25rem;
  position: relative;
  padding: 10px 0 $ripped-bg-height-small;

  @include medium() {
    padding: 35px 0 $ripped-bg-height-medium;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
  }

  &::before {
    top: 0;
    background-color: #808080;
    height: 10px;
  }

  &::after {
    height: $ripped-bg-height-small;
    background-image: url('/src/media/images/ripped-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -1px;
    transform: rotate(180deg);
    background-color: white;

    @include medium() {
      height: $ripped-bg-height-medium;
    }
  }

  h2 {
    margin-top: 15px;
    //margin-top: 1rem;

    @include medium() {
      margin-bottom: 35px;
    }
  }

  .row.journal {
    @include medium() {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      padding-bottom: 10px;
    }

    @include big() {
      max-width: 1000px;
      margin-bottom: 25px;
    }

    .audio-card {
      @include medium() {
        width: calc(50% - 10px);
      }
    }
  }
}

.audio-card {
  border-radius: 3.5px;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .image-wrapper {
    border-top-left-radius: 3.5px;
    border-top-right-radius: 3.5px;
    overflow: hidden;
  }
}

article.inst-photo {
  .image-wrapper.wrapper {
    @include small() {
      padding: 0;
    }
  }

  h2 {
    margin: .75rem 0 2rem;
  }
}

.image-wrapper {
  > div {
    position: relative;
  }

  .lozad-sqip-placeholder {
    background-color: unset;
  }

  .lozad-main-image {
    transition-property: opacity, visibility;
    transition-duration: .7s;
    transition-delay: .1s;
    transition-timing-function: ease-in;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    height: 100%;
    top: 0;

    &.loaded {
      opacity: 1;
      visibility: visible;
    }

    img {
      background-color: unset;
    }
  }
}

.instagram-link {
  color: #00376B;
  text-decoration: none;
}
