{{!-- includes/diver-onscroll-animation --}}

<div class="diver-section js-diver-section" style="margin: 3rem 0;">
  <div class="wrapper">
    <div class="content">
      <div class="animation-container-wrapper">
        <div class="animation-container js-animation-container">
          <div class="diver js-diver">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>