{{!-- includes/floating-action-button --}}

<div class="floating-action-button js-floating-action-button">
  <div></div>
</div>


<div class="mobile-fullscreen-menu js-mobile-fullscreen-menu">
  <div class="animation-box"></div>
  <section class="fullscreen-menu__content">
    <header>
      <h2 class="fullscreen-menu__wrapper">
        Меню
      </h2>
      <h3 class="fullscreen-menu__wrapper">
        Ссылки, чтобы прокрутить до видео
      </h3>
    </header>
    <nav>
      <ul class="fullscreen-menu__video-titles-list js-fullscreen-menu__video-titles-list">
        <li>
          <a href="#">
          </a>
        </li>
      </ul>
    </nav>
  </section>
</div>