{{!-- includes/separator --}}

<section class="separator wrapper section">
<!--
  future colors:
  https://coolors.co/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc
-->
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
</section>