{{!-- includes/footer --}}

<div class="separator">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
</div>