{{!-- includes/footer --}}

<section class="separator wrapper section">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
    <img src="media/icons/heart.svg" alt="heart icon">
</section>