{{!-- includes/separator --}}

<section class="separator wrapper section">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
    <img src="media/icons/heart.svg" width="22" height="18" alt="heart icon">
</section>