{{!-- includes/youtube-video src="" alt="" width="" height="" --}}

<article class="article article--video">
  <div class="row journal">
    <div class="wrapper">
      <div class="js-youtube-player-wrapper">
        <div class="js-player" data-video-title="{{ videoTitle }}"
             data-video-id="{{ videoId }}"></div>
      </div>
    </div>
  </div>
</article>
